bin/*
bin_debug/*
obj/*
obj/common/*
obj_debug/*
obj_debug/common/*
.nv
include
tmp
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/c_cpp_properties.json
.gitignore
*.mtx
src/grid_stride_test.cu
src/read_write_bench.cu
src/test.cu
src/thrustBenchmarks.cu